.categoryItem {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  gap: 15px;
  font-size: 1.05rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
  color: black;
  word-break: break-word;
}
.categoryItem_icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
.categoryItem:hover {
  transform: scale(1.015, 1.015);
  background-color: rgb(230, 230, 230);
}
.active {
  background-color: rgb(224, 224, 224);
}

.categoryItem_icon_default,
.categoryItem_icon_allFiles {
  background-image: url('@/assets/dir.svg');
}
.active .categoryItem_icon_default,
.active .categoryItem_icon_allFiles {
  background-image: url('@/assets/dir-active.svg');
}

.categoryItem_icon_trash {
  background-image: url('@/assets/trash.svg');
  background-size: 1.9rem;
}
.active .categoryItem_icon_trash {
  background-image: url('@/assets/trash-active.svg');
}

@media (max-width: 768px) {
  .categoryItem {
    padding: 0.6rem 5px;
  }
}
