.categoryCreator {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.categoryCreator_form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
}
.categoryCreator_input {
  width: 100%;
  margin-bottom: 10px;
  padding: 9px 15px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

/* BUTTONS */

.categoryCreator_button {
  padding: 9px 15px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgb(194, 194, 194); 
}
.categoryCreator_button:hover {
  transform: scale(1.005, 1.005);
  box-shadow: 0px 10px 10px rgb(194, 194, 194);
}
.categoryCreator_button:active {
  transform: scale(0.95,0.95);
  transition: 0.1s;
}

.categoryCreator_openButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
}
.categoryCreator_openButton:hover {
  background-color: #f1f1f1;
}
.categoryCreator_openButton_icon {
  width: 20px;
  height: 20px;
  background-image: url('@/assets/create-category.svg');
  background-repeat: no-repeat;
  background-size: 20px;
}

.categoryCreator_submitButton {
  width: 100%;
  background-color: #f3f3f3;
}
.categoryCreator_submitButton:hover {
  background-color: #fafafa;
}