.document {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.document__item {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.document__item_opened {
  background-color: #ececec;
}

.document__item:hover {
  background-color: #ececec;
}

.document__titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.document__iconDocument {
  background-image: url('@/assets/document.svg');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 20px;
}

.document__title {
  margin: 0;
  color: #181818;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.document__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 650px) {
  .document__buttons {
    gap: 1rem;
  }
}
