@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*,
button {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  *,
  button {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  *,
  button {
    font-size: 12px;
  }
}
