.document__form {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color: #ECECEC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.document__input {
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 21rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
}
