.footer {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);

  transition: 0.3s ease-in-out;
}
.footer:hover {
  filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.5));
}

.footer img {
  width: 30px;
}

.link span {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
.link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
