.documentList_item {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  border: 1px solid black;
}
.documentList_item:hover {
  background-color: #ECECEC;
}