.document {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.document__item {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.document__item_opened {
  background-color: #ECECEC;
}

.document__item:hover {
  background-color: #ECECEC;
}

.document__titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.document__iconDocument {
  background-image: url('@/assets/document.svg');
  width: 15px;
  height: 19px;
}

.document__title {
  margin: 0;
  color: #181818;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.document__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.document__buttonIcon {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: opacity 0.2s ease-in-out;
}

.document__buttonIcon:hover,
.document__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.document__buttonIcon_type_option {
  background-image: url('@/assets/option.svg');
  background-size: 24px 24px;
}

.document__buttonIcon_type_view {
  background-image: url('@/assets/view.svg');
  background-size: 24px 18px;
}

.document__buttonIcon_type_toggle {
  background-image: url('@/assets/toggle.svg');
  background-size: 24px 20px;
}

.document__buttonIcon_type_busket {
  background-image: url('@/assets/busket.svg');
  background-size: 19px 21px;
}

.document__form {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color: #ECECEC;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.document__select {
  box-sizing: border-box;
  padding: 9px 15px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 337px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.30);
}

.document__option {

}

.document__option:disabled {
  color: rgba(0, 0, 0, 0.30);
}

.document__button {
  box-sizing: border-box;
  background-color: black;
  border: none;
  color: #FFF;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 33px;
  border-radius: 5px;
}

.document__button:disabled {
  background-color: #0000004D;
}

.document__button:disabled:hover {
  cursor: default;
  opacity: 1;
}
